In [146]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

df = pd.read_csv(f'./aa.csv', names=['Date', 'Price', 'Pct'], header=None)

In [149]:
df = df.drop(['Pct'], axis=1)

In [151]:
df2

            0         1
0  1982-01-01    125.65
0  1983-01-01    118.27
0  1984-01-01    124.08
0  1985-01-01     138.9
0  1986-01-01    160.42
0  1987-01-01    310.22
0  1988-01-01    633.58
0  1989-01-01    884.29
0  1990-01-01    896.16
0  1991-01-01     635.4
0  1992-01-01    680.51
0  1993-01-01    670.56
0  1994-01-01    945.71
0  1995-01-01    925.56
0  1996-01-01    878.82
0  1997-01-01    685.84
0  1998-01-01    567.38
0  1999-01-01    571.43
0  2000-01-01    943.88
0  2001-01-01    617.91
0  2002-01-01    748.07
0  2003-01-01    591.86
0  2004-01-01     848.5
0  2005-01-01     932.7
0  2006-01-01  1,399.83
0  2007-01-01  1,360.23
0  2008-01-01  1,624.68
0  2009-01-01  1,162.11
0  2010-01-01  1,602.43
0  2011-01-01  2,069.73
0  2012-01-01  1,955.79
0  2013-01-01  1,961.94
0  2014-01-01  1,941.15
0  2015-01-01  1,949.26
0  2016-01-01  1,912.06
0  2017-01-01  2,067.57
0  2018-01-01  2,566.46
0  2019-01-01  2,204.85
0  2020-01-01  2,119.01
0  2021-01-01  2,976.21
0  2022-01-01  2,663.34

In [150]:
df2 = pd.DataFrame()
for i,j in df.values:
    if '01-01' in i:
        df2 = df2.append([[i,j]])

In [152]:
df2['1']

KeyError: '1'